#part_region {
 background-color: rgba(0, 255, 0, 0.2);
}

#part_region_desc {
 color: black;
}

#part_region_highlight {
 background-color: rgba(255, 0, 0, 0.2);
}

#part_hinge {
 background-color: red; 
 opacity: 0.7;
}

#canvas {
 border: solid 1px black;
 padding: 2px;
 border-radius: 5px;
}

#mover_item {
 border: solid 1px grey;
 padding: 2px;
 border-radius: 5px;
}

#add_item {
 border: solid 1px green;
 padding: 2px;
 border-radius: 5px;
}
